In [1]:
from src.worldometer_gateway import WorldOMeterGateway
from src.parser_service import ParserService
from src.parser_service_yesterday import ParserServiceYesterday

import pandas as pd

In [2]:
def converter(a):
    if a == ' ' or a == '':
        return 0
    return float(a.replace(',','')\
#                  .replace('\n','')\
                 .replace('+','')\
#                  .replace(' ','')\
                 .strip())

# Live Data

In [20]:
# Fetch data
worldometer_gateway = WorldOMeterGateway()
parser_service = ParserService()
latest_data = worldometer_gateway.fetch()
output = parser_service.create_df_worldometer(latest_data)
last_updated = parser_service.parse_last_updated(latest_data)

output.set_index('Country', inplace=True)
# output.drop('1_st case', axis=1, inplace=True)
for i in list(output):
    output[i] = output[i].apply(converter)

# write to file
output.to_csv(r'data/worldometer/%s.csv' % last_updated.replace(':','-').replace(',','').replace(' ','_')[14:])
output.to_csv(r'data/worldometer/wom_latest.csv')

print(last_updated)

Last updated: April 02, 2020, 23:24 GMT

In [21]:
output['rec rate'] = output['Total Recovered'] / output['Total Deaths']
output.sort_values(['rec rate'], ascending=False).head(50)

,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases,Serious/Critical,Tot Cases/1M pop,Tot Deaths/1M pop,rec rate
Country,,,,,,,,,,
Aruba,60.0,5.0,0.0,0.0,1.0,59.0,0.0,562.0,0.00,inf
Gibraltar,88.0,7.0,0.0,0.0,46.0,42.0,0.0,2612.0,0.00,inf
French Guiana,51.0,0.0,0.0,0.0,15.0,36.0,0.0,171.0,0.00,inf
Cambodia,110.0,1.0,0.0,0.0,34.0,76.0,1.0,7.0,0.00,inf
Kyrgyzstan,116.0,5.0,0.0,0.0,5.0,111.0,5.0,18.0,0.00,inf
Macao,41.0,0.0,0.0,0.0,10.0,31.0,0.0,63.0,0.00,inf
Bermuda,35.0,3.0,0.0,0.0,11.0,24.0,0.0,562.0,0.00,inf
Latvia,458.0,12.0,0.0,0.0,31.0,427.0,3.0,243.0,0.00,inf
Ethiopia,29.0,0.0,0.0,0.0,3.0,26.0,2.0,0.3,0.00,inf
Maldives,19.0,0.0,0.0,0.0,13.0,6.0,0.0,35.0,0.00,inf
New Caledonia,18.0,2.0,0.0,0.0,1.0,17.0,0.0,63.0,0.00,inf
Haiti,16.0,0.0,0.0,0.0,1.0,15.0,0.0,1.0,0.00,inf
Georgia,134.0,17.0,0.0,0.0,26.0,108.0,6.0,34.0,0.00,inf
Equatorial Guinea,15.0,0.0,0.0,0.0,1.0,14.0,0.0,11.0,0.00,inf
Mongolia,14.0,0.0,0.0,0.0,2.0,12.0,0.0,4.0,0.00,inf
Namibia,14.0,0.0,0.0,0.0,3.0,11.0,0.0,6.0,0.00,inf
Kuwait,342.0,25.0,0.0,0.0,81.0,261.0,15.0,80.0,0.00,inf
Faeroe Islands,177.0,4.0,0.0,0.0,81.0,96.0,1.0,3622.0,0.00,inf
Malta,196.0,8.0,0.0,0.0,2.0,194.0,2.0,444.0,0.00,inf
Benin,13.0,0.0,0.0,0.0,1.0,12.0,0.0,1.0,0.00,inf
Saint Lucia,13.0,0.0,0.0,0.0,1.0,12.0,0.0,71.0,0.00,inf
Greenland,10.0,0.0,0.0,0.0,2.0,8.0,0.0,176.0,0.00,inf
Nepal,6.0,1.0,0.0,0.0,1.0,5.0,0.0,0.2,0.00,inf
St. Barth,6.0,0.0,0.0,0.0,1.0,5.0,0.0,607.0,0.00,inf
Bhutan,5.0,1.0,0.0,0.0,1.0,4.0,0.0,6.0,0.00,inf
Somalia,5.0,0.0,0.0,0.0,1.0,4.0,0.0,0.3,0.00,inf
Vietnam,233.0,15.0,0.0,0.0,75.0,158.0,3.0,2.0,0.00,inf
St. Vincent Grenadines,2.0,0.0,0.0,0.0,1.0,1.0,0.0,18.0,0.00,inf
Réunion,308.0,27.0,0.0,0.0,40.0,268.0,3.0,344.0,0.00,inf
Bahrain,643.0,74.0,4.0,0.0,381.0,258.0,3.0,378.0,2.00,95.250000
New Zealand,797.0,89.0,1.0,0.0,92.0,704.0,2.0,165.0,0.20,92.000000
Iceland,1319.0,99.0,4.0,2.0,284.0,1031.0,12.0,3865.0,12.00,71.000000
Singapore,1049.0,49.0,4.0,1.0,266.0,779.0,24.0,179.0,0.70,66.500000
Oman,231.0,21.0,1.0,0.0,57.0,173.0,3.0,45.0,0.20,57.000000
Diamond Princess,712.0,0.0,11.0,0.0,619.0,82.0,10.0,0.0,0.00,56.272727
Brunei,133.0,2.0,1.0,0.0,56.0,76.0,3.0,304.0,2.00,56.000000
Senegal,195.0,5.0,1.0,0.0,55.0,139.0,0.0,12.0,0.06,55.000000
Hong Kong,802.0,36.0,4.0,0.0,154.0,644.0,8.0,107.0,0.50,38.500000
S. Korea,9976.0,89.0,169.0,4.0,5828.0,3979.0,55.0,195.0,3.00,34.485207
Thailand,1875.0,104.0,15.0,3.0,505.0,1355.0,23.0,27.0,0.20,33.666667
Qatar,949.0,114.0,3.0,1.0,72.0,874.0,37.0,329.0,1.00,24.000000
China,81589.0,35.0,3318.0,6.0,76408.0,1863.0,429.0,57.0,2.00,23.028330
Australia,5279.0,231.0,28.0,5.0,585.0,4666.0,50.0,207.0,1.00,20.892857
Germany,84794.0,6813.0,1107.0,176.0,22440.0,61247.0,3936.0,1012.0,13.00,20.271003
Chile,3404.0,373.0,18.0,2.0,335.0,3051.0,31.0,178.0,0.90,18.611111
Palestine,161.0,27.0,1.0,0.0,18.0,142.0,0.0,32.0,0.20,18.000000
Finland,1518.0,72.0,19.0,2.0,300.0,1199.0,65.0,274.0,3.00,15.789474
Saudi Arabia,1885.0,165.0,21.0,5.0,328.0,1536.0,31.0,54.0,0.60,15.619048
Uruguay,350.0,0.0,4.0,2.0,62.0,284.0,15.0,101.0,1.00,15.500000
Malaysia,3116.0,208.0,50.0,5.0,767.0,2299.0,105.0,96.0,2.00,15.340000

In [19]:
# Japan correction
df = pd.read_csv('data/worldometer/wom_latest.csv').set_index('Country')
df.at['Japan','New Cases'] = 206
df.at['Argentina','New Cases'] = 79
df.at['Uruguay','New Cases'] = 79
df.at['Venezzuela','New Cases'] = 9
df.at['Panama','New Cases'] = 136
df.reset_index().to_csv('data/worldometer/wom_latest.csv')

# Yesterday Summary

In [6]:
parser_service_yesterday = ParserServiceYesterday()
latest_data = worldometer_gateway.fetch()
output = parser_service_yesterday.create_df_worldometer(latest_data)
last_updated = parser_service_yesterday.parse_last_updated(latest_data)

output.set_index('Country', inplace=True)
# output.drop('1_st case', axis=1, inplace=True)
for i in list(output):
    output[i] = output[i].apply(converter)
    
date = last_updated.split(':')[1].split(',')[0].strip()
output.to_csv(r'data/worldometer/daily_summary_%s.csv' % date)
print(last_updated)

Last updated: April 02, 2020, 12:25 GMT

In [32]:
# pd.read_csv('data/worldometer/March_12_2020_01-45_GMT.csv', index_col='Country')
pd.read_csv('data/worldometer/wom_latest.csv', index_col='Country')

,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases,Serious/Critical,Tot Cases/1M pop,Tot Deaths/1M pop
Country,,,,,,,,,
China,81340.0,55.0,3292.0,5.0,74588.0,3460.0,1034.0,57.0,2.0
USA,99116.0,13681.0,1526.0,231.0,2465.0,95125.0,2463.0,299.0,5.0
Italy,86498.0,5909.0,9134.0,919.0,10950.0,66414.0,3732.0,1431.0,151.0
Spain,64059.0,6273.0,4934.0,569.0,9357.0,49768.0,4165.0,1370.0,106.0
Germany,50178.0,6240.0,338.0,71.0,6658.0,43182.0,23.0,599.0,4.0
...,...,...,...,...,...,...,...,...,...
Turks and Caicos,2.0,0.0,0.0,0.0,0.0,2.0,0.0,52.0,0.0
Libya,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.1,0.0
Papua New Guinea,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.1,0.0
St. Vincent Grenadines,1.0,0.0,0.0,0.0,0.0,1.0,0.0,9.0,0.0
Timor-Leste,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.8,0.0

In [45]:
import pandas as pd
df = pd.read_clipboard(header=None).fillna(0)
df.to_csv('data/worldometer/parser_temp.csv')
df = pd.read_csv('data/worldometer/parser_temp.csv', thousands=',').set_index('0').drop('Unnamed: 0', axis=1)
df.columns = ['Total Cases','New Cases','Total Deaths','New Deaths','Total Recovered','Active Cases','Serious Cases','Density']

df.to_csv('data/worldometer/parser_temp.csv')
df

,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases,Serious Cases,Density
0,,,,,,,,
China,80894,13,3237,11.0,69614,8043,2622,56.00
Italy,35713,4207,2978,475.0,4025,28710,2257,591.00
Iran,17361,1192,1135,147.0,5710,10516,0,207.00
Spain,14769,2943,638,105.0,1081,13050,563,316.00
Germany,12327,2960,28,2.0,105,12194,2,147.00
...,...,...,...,...,...,...,...,...
Sint Maarten,1,1,0,0.0,0,1,0,23.00
Somalia,1,0,0,0.0,0,1,0,0.06
Suriname,1,0,0,0.0,0,1,0,2.00
Eswatini,1,0,0,0.0,0,1,0,0.90
Togo,1,0,0,0.0,0,1,0,0.10

In [46]:
pd.read_csv('data/worldometer/parser_temp.csv')

,0,Total Cases,New Cases,Total Deaths,New Deaths,Total Recovered,Active Cases,Serious Cases,Density
0,China,80894,13,3237,11.0,69614,8043,2622,56.00
1,Italy,35713,4207,2978,475.0,4025,28710,2257,591.00
2,Iran,17361,1192,1135,147.0,5710,10516,0,207.00
3,Spain,14769,2943,638,105.0,1081,13050,563,316.00
4,Germany,12327,2960,28,2.0,105,12194,2,147.00
...,...,...,...,...,...,...,...,...,...
168,Sint Maarten,1,1,0,0.0,0,1,0,23.00
169,Somalia,1,0,0,0.0,0,1,0,0.06
170,Suriname,1,0,0,0.0,0,1,0,2.00
171,Eswatini,1,0,0,0.0,0,1,0,0.90
172,Togo,1,0,0,0.0,0,1,0,0.10